*

!.devcontainer
!.devcontainer/*
!.github
!.github/*
!.vscode
!.vscode/*
!api-gateway
!api-gateway/*
!proto
!proto/*
!stock-proxy
!stock-proxy/*
!.gitignore
!docker-compose.dev.yml
!docker-compose.prod.yml
!go.mod
!go.work
!go.work.sum
!README.md
